$border-thickness: 1px;
$border-color: black;
$border-style: solid;
$game-background-color: #E5E5E5;
$game-root-padding: 5px;
$game-section-header-color: #003A06;
$player-selected-color-primary: green;
$player-selected-color-secondary: blue;
$button-hover-opacity: 0.3;
$button-red: #9D0000;
$button-green: green;
$button-blue: blue;
$button-orange: orange;

// colors related to good/evil roles and passed/failed missions
$evil-role-color: #9D0000;
$good-role-color: #003A06;

.game-root-container {    
    display: flex;
    flex-direction: row;
    padding: 0px $game-root-padding;
}

.game-background-color {
    background-color: $game-background-color;
}

// Use padding-right here so that the border remains connected
.row-top {
    padding-right: $game-root-padding;
}
.row-bottom {
    border-top: $border-thickness $border-style $border-color;
    padding-right: $game-root-padding;
}

// Left column is one-third of the screen.
.col-left {
    width: 25%;
}

.col-center {
    width: 50%;
    padding-left: $game-root-padding;
    padding-right: $game-root-padding;
    border-left: $border-thickness $border-style $border-color;
}
.col-right {
    width: 25%;
    padding-left: $game-root-padding;
    border-left: $border-thickness $border-style $border-color;
}

// Title of each game section header
.game-section-header {
    font-size: 40px;
    line-height: 46px;
    color: $game-section-header-color;
    text-align: center;
}

// Title of any subheader in a game
.game-section-subheader {
    font-size: 20px;
    line-height: 26px;
    color: $game-section-header-color;
    text-align: center;
}

// Base class for any game button
%game-button {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 24px;
    cursor: pointer; 
    width: 90%; 
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}

// Base container for any interaction manager
.interaction-manager {
    margin-top: 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
}