$border-thickness: 1px;
$border-color: black;
$border-style: solid;
$game-background-color: #E5E5E5;
$game-root-padding: 5px;
$game-section-header-color: #003A06;
$player-selected-color: #003A06;

// colors related to good/evil roles and passed/failed missions
$evil-role-color: #9D0000;
$good-role-color: #003A06;

.game-root-container {    
    display: flex;
    flex-direction: row;
    padding: 0px $game-root-padding;
}

.game-background-color {
    background-color: $game-background-color;
}

// Use padding-right here so that the border remains connected
.row-top {
    padding-right: $game-root-padding;
}
.row-bottom {
    border-top: $border-thickness $border-style $border-color;
    padding-right: $game-root-padding;
}

// Left column is one-third of the screen.
.col-left {
    width: 33%;
}

.col-right {
    width: 67%;
    padding-left: $game-root-padding;
    border-left: $border-thickness $border-style $border-color;
}

// Title of each game section header
.game-section-header {
    font-size: 40px;
    line-height: 46px;
    color: $game-section-header-color;
    text-align: center;
}

// Title of any subheader in a game
.game-section-subheader {
    font-size: 20px;
    line-height: 26px;
    color: $game-section-header-color;
    text-align: center;
}