@import "./gameGlobals.scss"; 

$player-card-padding-vertical: 10px;
$player-card-padding-horizontal: 24px;
$player-selected-border-thickness: 3px;

.player-card {
    border: 1px solid;
    border-radius: 10px;
    padding: $player-card-padding-vertical $player-card-padding-horizontal;
    cursor: pointer; 
    width: 67%; 
    display: block; 
    margin-top: 5px;
}

.player-selected {
    padding: $player-card-padding-vertical - $player-selected-border-thickness $player-card-padding-horizontal;
    border: 1px + $player-selected-border-thickness solid $player-selected-color;
}

.tabbed-out-indicator {
    margin-right: 5px;
    margin-bottom: 2px;
}