@import "./gameGlobals.scss"; 

$player-card-padding-vertical: 10px;
$player-card-padding-horizontal: 24px;
$player-selected-border-thickness: 3px;

.player-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%player-card {
    @extend %game-button;
    &:disabled {
        color: black;
        cursor: default;
    }
}

.player-card-base {
    @extend %player-card;
}

.player-card-primary {
    @extend %player-card;
    &:hover {
        background: rgba($player-selected-color-primary, $button-hover-opacity);
    }
}

.player-card-secondary {
    @extend %player-card;
    &:hover {
        background: rgba($player-selected-color-secondary, $button-hover-opacity);
    }
}

.player-selected-primary {
    padding: $player-card-padding-vertical - $player-selected-border-thickness $player-card-padding-horizontal;
    border: 1px + $player-selected-border-thickness solid $player-selected-color-primary;
}

.player-selected-secondary {
    padding: $player-card-padding-vertical - $player-selected-border-thickness $player-card-padding-horizontal;
    border: 1px + $player-selected-border-thickness solid $player-selected-color-secondary;
}

.player-selected-all {
    padding: $player-card-padding-vertical - $player-selected-border-thickness $player-card-padding-horizontal;
    border: 1px + $player-selected-border-thickness solid;
    border-top-color: $player-selected-color-primary;
    border-right-color: $player-selected-color-primary;
    border-bottom-color: $player-selected-color-secondary;
    border-left-color: $player-selected-color-secondary;
}

.tabbed-out-indicator {
    margin-right: 5px;
    margin-bottom: 2px;
}

