{% extends "thavalon/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>Thavalon Home</title>
    <link rel="stylesheet" href="{% static 'thavalon/css/bootstrap.css' %}">
</head>
{% endblock %}
<body>
  {% block content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/thavalon">Home</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'view_game_lobbies' %}">View Lobbies <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="create_new_game()" href="#">Start A Lobby<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Start The Game<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Leave Game <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">View Previous Games</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
          <a class="nav-link" href="#">Rules</a>
        </li>
      </ul>
    </div>
  </nav>

  <script>
    $(function () {
      $('.example-popover').popover({
        container: 'body'
      })
    })
  </script>
{% endblock %}
</body>
</html>

