<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thavalon Home</title>
</head>
<body>
<h1>
    Welcome to the Thavalon Home Page
</h1>

<button onclick="window.location.href = '{% url "newGame" %}'">
    New Game
</button>

<!--
{% if current_game is not None %}
    <ul>
        Players and Keys:
        {% for player_key, value in current_game.player_dict.items %}
            <li>{{ player_key }}, {{ value }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No game is running.</p>
{% endif %}
-->
</body>
</html>