{% extends "thavalon/base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>Lobby Information</title>
</head>
{% endblock %}
<body>
    {% block content %}
    <input id="joinGame" type="button" value="Join Game" onclick="joinGame();" />
    <form>
        <div class="player_number">
            {{ waiting_players.number }}
        </div>
        <div class="player_name">
            {{ waiting_players.name }}
        </div>
    </form>

    <table id="player_table" style="width:50%">
        <thead>
            <tr>
                <th>Number</th>
                <th>Player</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <script>
        function joinGame() {
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                type: 'POST',
                dataType: "json",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                url: '{% url 'joingame' %}',
                success: function(data) {
                    if (data.success !== 1) {
                        alert(data.error);
                        return;
                    }
                    addRow(data.number, data.name)
                }
            });
        }
        function addRow(player_number, player_name) {
            $("#player_table tbody").append("<tr><td>" + player_number + "</td><td>" + player_name + "</td></tr>");
        }

    </script>
    {% endblock %}
</body>
</html>