{% extends "thavalon/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>Thavalon Home</title>
    <link rel="stylesheet" href="{% static 'thavalon/css/master.css' %}">
    <link rel="stylesheet" href="{% static 'thavalon/css/bootstrap.css' %}">
    <!--
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    -->
</head>
{% endblock %}
<body>
{% block content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">Home</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Leave Lobby</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="GameLobby.html">Start Game</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
          <a class="nav-link" href="#">Rules</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container pt-5">
    <div class="row">
      <div class="col-6">
        <ul class="list-group ul-borderless">
            <li class="list-group-item"><h3>Lobby</h3>
                <ol class="list-group">
                    <li class="list-group-item">Paul</li>
                    <li class="list-group-item">Andrew</li>
                    <li class="list-group-item">Meg</li>
                    <li class="list-group-item">Darcy</li>
                    <li class="list-group-item text-warning"><span>Waiting for Lobby Leader to start game</span></li>
                </ol>
            </li>
        </ul>
      </div>
    </div>
  </div>
    <script>
        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/thavalon/{{ game_id|escapejs }}/');

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            if (data.type === "on.player.join") {
                alert(data.player_name);
                return;
            }
            else {
                var success = data.success;
                alert(success);
            }
        };

        function joinGame() {
            chatSocket.send(JSON.stringify({ "type": "on_player_join", "player_name": "Paul" }));
        }

        function addRow(player_number, player_name) {
            $("#player_table tbody").append("<tr><td>" + player_number + "</td><td>" + player_name + "</td></tr>");
        }
    </script>
{% endblock %}
</body>
</html>
