<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thavalon Home</title>
    <link rel="stylesheet" href="{% static 'thavalon/css/master.css' %}">
    <link rel="stylesheet" href="{% static 'thavalon/css/bootstrap.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static 'thavalon/js/ViewLobbies.js' %}"></script>
    <script>
      window.onload = function() {
          onPageLoad({{ lobbyIds|safe }}, {{ playerNames|safe}});
      }
    </script>
    <!--
    <script src="js/bootstrap.bundle.min.js"></script>
    -->
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/thavalon">Home</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">View Lobbies <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="create_new_game()" href="#">Start A Lobby<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">View Previous Games</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
          <a class="nav-link" href="#">Rules</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container pt-5">
    <div class="row">
      <div class="col-6" id="allLobbies">
            <!--
            <li class="list-group-item" id=""><h3>Lobby</h3>
                <ul class="list-group">
                    <li class="list-group-item">Paul</li>
                    <li class="list-group-item">Andrew</li>
                    <li class="list-group-item">Meg</li>
                    <li class="list-group-item"><a onclick="create_new_game()" href="#" class="btn-join text-success">Join</a></li>
                </ul>
            </li>
            -->
      </div>
    </div>
  </div>
<script>
    function create_new_game() {
        let csrftoken = getCookie("csrftoken")
        $.ajax({
            type: "POST",
            dataType: "json",
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            url: "{% url 'create_new_game' %}",
            success: function(data) {
                if (data.lobby_id === undefined || data.lobby_id === null) {
                    alert("big dum")
                    return;
                }

                addNewLobby(data.lobby_id);
                return;
            }

        })
    }

    function joinGame(lobbyId) {
        if (lobbyId === null) { return; }
        const csrftoken = getCookie("csrftoken");
        const player_name = document.getElementById(lobbyId + "txtUserName").value;
        $.ajax({
            type: "POST",
            dataType: "json",
            data: {"lobby_id": lobbyId, "player_name": player_name},
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            url: "{% url 'join_game' %}",
            success: function(data) {
                if (data.success !== 1) {
                    alert(data.error);
                    return;
                }
                if (data.game_id === undefined || data.game_id === null) {
                    alert("big dum");
                    return;
                }
                window.location.pathname = '/thavalon/' + data.game_id + '/';
                return;
            }

        })
    }
</script>
</body>
</html>
