@import "~bootstrap/scss/bootstrap";

html, body, #app, #app>div {
    height: 100%
}

.indicatorPlaceholderStyle {
    margin: 55px;
    width: 95%;
    height: 58%;
    text-align: center;

    .missionNumStyle {
        font-weight: bold;
        font-size: 55pt;
        line-height: 60%;
    }

    span {
        font-size: 15pt;
    }
}