.Modal {
    margin: auto;
    border: 1px solid #000000;
    overflow: auto;
    border-radius: 10px;
    outline: none;
    padding: 20px;
    background-color: #ffffff;
    opacity: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
}

.errorMsg {
    color: red;
    font-size: 0.9rem;
    font-style: italic;
    display: inline-block;
    padding-bottom: .75rem;
}

.formLink {
    font-size: 0.9rem;
    font-style: italic;
}

.formSubmission, .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modalHeader {
    margin-top: 0px;
}

h2 {
    text-align: center;
    margin: 0rem;
    font-size: 1.75rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}